<body>
<div id="page">
    <div id="header">
        <h1>About Me</h1>
        <div id="subhead">View more information about me</div>
    </div>

    <div id="content">
        <pre>
<h2><p>
Hello, I am
Daniel Vaškevič
|Student|Programmer|</p></h2>
C# ->(<i>.Net Core/.NET Framework</i>)
SQL ->(<i>PostgreSQL, phpMyAdmin, H2 etc.</i>)
MySQL workbench ->(<i>...</i>)
MS SQL Server ->(<i>...</i>)

RESTful API ->(<i>XML/JSON/HTTP Methods(Postman,, etc.)</i>)
ASP.NET Core MVC ->(<i>...</i>)

HTML ->(<i>Sublime Text 3 text editor</i>)
CSS ->(<i>Sublime Text 3 text editor</i>)

JavaScript ->(<i>in progress</i>)
Angular /or/ React JS ->(<i>in progress</i>)

<h3>Other Knowledge of (<i>worked with</i>):</h3>
->Agile knowledge(planning/design -->Trello(<i>Gantt chart)</i>)
->WebAPI (had made with IntelliJ IDEA --><i>'RESTful Web service'</i> --->using <i>Java language:>
(Spring Boot, Tomcat, Maven)</i>

->VEGAS Pro - <i>Video Maker</i> (Have/using -->for own<i> YouTube channel)</i>
->AutoCAD (1 year experience - <i>2D/3D models</i>)
->CorelDRAW (had made a lot of own <i>logo</i>)
->FL Studio (had made own <i>tracks</i>)
->C++ (1 year experience)

->Ruby on Rails <i>(Rubocop/Unit Test/ ... -'in progress')</i>
->Oracle VM VirtualBox ("Build secure systems with Kali Linux" - <i>'in progress'</i>)

<h3> !𝙏𝙝𝙖𝙣𝙠 Y𝙤𝙪 𝙛𝙤𝙧 Y𝙤𝙪𝙧 𝙞𝙣𝙩𝙚𝙧𝙚𝙨𝙩!

♪♪<i>Do what a few do</i>♪♪
 ♪♪<i>To have what a few have</i>♪♪</h3> 

</pre>
    </div>


        <div id="reklama">
            <a href="pdf/Daniel_Vaskevic_CV.pdf" download>
                <img [src]="myimaage1" alt="Mano CV" title="Click here to download CV"/>
            </a>
        </div>

    <!--
            FOOTER
-->
    <!-- cia bus foninis paveiksliukas -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p class="footer__name">Daniel Vaskevic</p>
                    <p>HTML layout and website development</p>
                </div>
                <div class="col-4">
                    <p class="footer__social">My social media:</p>
                    <p class="footer__social__icons">
                        <a href="#" targer="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a href="#" targer="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>

                        <a href="#" targer="_blank">
                            <i class="fab fa-github"></i>
                        </a>

                        <!--   <a href="#" targer="_blank">
    <i class="fab fa-instagram"></i>
   </a>
   
   <a href="#" targer="_blank">
    <i class="fab fa-youtube"></i>
   </a> -->
                    </p>
                </div>
                <div class="col-4">
                    <div><a href="#" class="button" target="_blank">-_Contact me_-</a></div>

                    <p>
                        Want more information?<br />
                        Write me
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>