<body>
<div id="page">
    <div id="header">
        <h1>Gallery</h1>
        <div id="subhead">View part of my works</div>
    </div>

    <div id="container-root">
        <div id="content">
            <!-- Photo Grid -->
            <div class="row-gallery">
                <div  class="column">
                    <img class="item" src="../../../assets/img/gallery/photo1.jpg" style="width: 100%;" />
                    <img class="item" src="../../../assets/img/gallery/photo2.jpg" style="width: 100%;" />
                    <img class="item" src="../../../assets/img/gallery/photo3.jpg" style="width: 100%;" />
                </div>
                <div class="column">
                    <img class="item" src="../../../assets/img/gallery/photo4.jpg" style="width: 100%;" />
                    <img class="item"  src="../../../assets/img/gallery/photo5.jpg" style="width: 100%;" />
                    <img class="item" src="../../../assets/img/gallery/photo6.jpg" style="width: 100%;" />
                </div>
                <div class="column">
                    <img class="item" src="../../../assets/img/gallery/photo7.jpg" style="width: 100%;" />
                    <img class="item" src="../../../assets/img/gallery/photo8.jpg" style="width: 100%;" />
                    <img class="item" src="../../../assets/img/gallery/photo9.jpg" style="width: 100%;" />
                </div>
                <div class="column">
                    <img class="item" src="../../../assets/img/gallery/photo10.jpg" style="width: 100%;" />
                    <img class="item" src="../../../assets/img/gallery/photo7.jpg" style="width: 100%;" />
                    <img class="item" src="../../../assets/img/gallery/photo8.jpg" style="width: 100%;" />
                </div>
            </div>
        </div>

        <div id="reklama">
            <a href="../../../assets/pdf/Daniel_Vaskevic_CV.pdf" download>
                <img src="../../../assets/img/cv/Daniel_Vaskevic_CV.png" alt="Mano CV" title="Click here to download CV" />
            </a>
        </div>
    </div>

    <!--
            FOOTER
-->
    <!-- cia bus foninis paveiksliukas -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p class="footer__name">Daniel Vaskevic</p>
                    <p>HTML layout and website development</p>
                </div>
                <div class="col-4">
                    <p class="footer__social">My social media:</p>
                    <p class="footer__social__icons">
                        <a href="#" targer="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a href="#" targer="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>

                        <a href="#" targer="_blank">
                            <i class="fab fa-github"></i>
                        </a>

                        <!--   <a href="#" targer="_blank">
    <i class="fab fa-instagram"></i>
   </a>
   
   <a href="#" targer="_blank">
    <i class="fab fa-youtube"></i>
   </a> -->
                    </p>
                </div>
                <div class="col-4">
                    <div><a href="#" class="button" target="_blank">-_Contact me_-</a></div>

                    <p>
                        Want more information?<br />
                        Write me
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>