/*...................................................*/

#subhead {
    font-family: "Vast Shadow", cursive;
    font-size: 16px;
    line-height: 1.5;
    min-width: 280px;
}

img {
    display: inline-block; /* panaikinamas papildomas tarpas paveiksliukuose kuris buvo anksciau*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*kad nebutu papildomu nereikalingu tarpu*/
}

/*...................................................*/
#page {
    background: black; /*rausva spalva*/
    margin: 0 auto; /* centruoti */
    padding: auto;
    width: 90%;
    height: 100%;
}

/*...................MENU...........................*/
nav a {
    display: flex;
}

#reklama {
    float: right;
    height: 600px;
    border: 2px solid white;
    background: black;
    padding: 0 10px;
    width: 40%;
    min-height: 967px;
}

embed:focus {
    outline: none;
}
/*...................................................*/
#header {
    padding: 7%;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    color: white;
}
/*.................FC6 oranzine spalva.....................*/
#header {
    background: black;
    border: 2px solid white;
}

#header h1 {
    padding: 10px;
}

#subhead {
    background: black;
    border: 2px solid white;
    padding: 0 10px;
    text-align: center;
}

#content {
    /*    display: flex;
  flex-wrap: wrap; */
    background: black; /*balta*/
    border: 2px solid white;
    float: left;
    height: 600px;
    padding: 0 10px;
    text-align: center;
    color: white;
    width: 60%;

    min-height: 967px;
}

#content h2 {
    color: green;
}

#content i {
    color: red;
    padding: 5px;
}

#content h3 {
    color: orange;
}
#content pre {
    color: #ff33dc;
}

#header {
    clear: both;
    text-align: center;
    width: 100%;
}

/*Pakopiniais stiliais panaikinkite ženklinimą ir paraštes:*/

/*.................Atsiliepimu Stile.....................*/

#menu {
    float: left;
    padding: 0;
}

.footer {
    border: 2px solid white;
    padding: 10px 0;

    clear: both;
    text-align: center;
    width: 100%;
}

#reklama a img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1400px) {
    #reklama {
        width: 100% !important;
    }
    #reklama a img {
        display: block;
        width: 60%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    #content {
        width: 100% !important;
        height: 100% !important;
    }

    #subhead {
        min-width: auto;
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

    #reklama a img {
        width: 70%;
    }

    #reklama:hover img {
        transform: scale(1.1) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

        #reklama a img {
        width: 80%;
    }
      #header {
        padding: 12%;
    }
}


@media (max-width: 900px) {
    #reklama a img {
        width: 90%;
    }

    #reklama {
        min-height: 60%;
        height: 60%;
    }
}

@media (max-width: 800px) {
    #reklama a img {
        width: 100%;
    }
      #header {
        padding: 20%;
    }
}

@media (max-width: 450px){  
#header {
    padding-top: 30%;
    min-width: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
}

