        <!--
                    Fullscreen Overlay Navigation Menu Bar
-->
<header>
  <img src="../assets/img/logo/logo baseinas.png" class="logo" />
  <input type="checkbox" id="nav-toggle" class="nav-toggle" />
  <nav>
      <ul>
          <li><a routerLink="/home">Home</a></li>          
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/feedback">Feedback</a></li>
          <li><a routerLink="/gallery">Gallery</a></li>
      </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
  </label>
</header>

<router-outlet></router-outlet>
 
   