<body>
<div id="page">
    <div id="header">
        <h1>Feedback</h1>
        <div id="subhead">
            Do you have any feedback for me?<br />
            What can I do better the next time?
        </div>
    </div>

    <div id="container-root">
        <div id="content">
            <h2>I'd appreciate any feedback</h2>
            <div class="container-feedback">
                <form action="/action_page.php">
                    <div class="row-feedback">
                        <div class="col-25">
                            <label for="fname">First Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fname" name="firstname" placeholder="Your name.." />
                        </div>
                    </div>
                    <div class="row-feedback">
                        <div class="col-25">
                            <label for="lname">Last Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="lname" name="lastname" placeholder="Your last name.." />
                        </div>
                    </div>
                    <div class="row-feedback">
                        <div class="col-25">
                            <label for="country">Country</label>
                        </div>
                        <div class="col-75">
                            <select id="country" name="country">
                                <option value="australia">Lithuania</option>
                                <option value="usa">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-feedback">
                        <div class="col-25">
                            <label for="subject">Subject</label>
                        </div>
                        <div class="col-75">
                            <textarea
                                id="subject"
                                name="subject"
                                placeholder="Write something for me, or ask/answer -- ex. 
What specifically can I do to better support our team’s mission?

If your boss were to give me one piece of advice, what would that be?

Who should I be working with more closely?

Which parts of my style concern you the most?"
                                style="height: 200px;"
                            ></textarea>
                        </div>
                    </div>
                    <div class="row-feedback">
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
            <!--<p>Daug teksto</p>-->
        </div>
    </div>

    <div id="reklama">
        <img src="../../../assets/gif/Webp.net-gifmaker.gif" alt="this slowpoke moves" width="100%" />
    </div>

    <!--
            FOOTER
-->
    <!-- cia bus foninis paveiksliukas -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p class="footer__name">Daniel Vaskevic</p>
                    <p>HTML layout and website development</p>
                </div>
                <div class="col-4">
                    <p class="footer__social">My social media:</p>
                    <p class="footer__social__icons">
                        <a href="#" targer="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a href="#" targer="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>

                        <a href="#" targer="_blank">
                            <i class="fab fa-github"></i>
                        </a>

                        <!--   <a href="#" targer="_blank">
    <i class="fab fa-instagram"></i>
   </a>
   
   <a href="#" targer="_blank">
    <i class="fab fa-youtube"></i>
   </a> -->
                    </p>
                </div>
                <div class="col-4">
                    <div><a href="#" class="button" target="_blank">-_Contact me_-</a></div>

                    <p>
                        Want more information?<br />
                        Write me
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>